body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .bg-image{
    
    background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8) ), url(../imgages/main-background.png);
    background-size: cover;
    position: relative;
    top:20px;
    /* margin-top: 52px; */
  }
  
nav{

    background-image: linear-gradient(#546EDA, #BEF74D);
    border-bottom: 5px black solid ;
    
}
.sticky {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo{
    color: #cd0033;
    font-family: 'Bungee Shade', cursive;
 
}

footer{
    background-image: linear-gradient( #BEF74D, #546EDA);
    border-top: solid black 5px;
    font-size: 1rem;
    z-index: 9999;
}
  .left-text{
      color: #cd0033;
      
  }

  .right-text{
      color: 
      #cd0033;
  }

  .right-text, .left-text{
    font-size: 30px;
    font-family: 'Bungee Shade', cursive;
  }

/* .modal {
    display: none;
    z-index: 9999;
    position: fixed; 
    padding-top: 10px;
    left: 0; 
    top: 0;
    
  } */

  .modal-img {
    opacity: 0.5;
 
  }
.modal{
    /* background: transparent !important;
    position: relative; */
    width: 30vw !important;
    height: 60vh;

 
}



  .modal-content {
   
    height:  auto;
    margin: 0; 
    text-align: center;

  }

  .modal-text{
      position: relative;
      top: -20vh;
      font-size: 2rem;
      text-shadow: 1px 1px 2px #cd0033, 0 0 1em #dc913f, 0 0 0.2em rgb(8, 0, 0);

  }
  

  .close-btn {
    font-size: 2rem;  
    position: absolute;
    width: 1rem auto;
    position: absolute;
    bottom: 13%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }

.search-btn{
    border: 2px solid #4CAF50;
    background-color: transparent;
    color: #4CAF50;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    transition: 256ms all;
    border-radius: 20px;
}
  
.btn, .close-btn{
    
    width: 25rem, auto;
    background: linear-gradient(90deg, #FFFF00 6%, #FFA500 25%, #F14444 45%, #D53567 55%, #9A109A 94%);
    text-align: center;
    padding: 13px 20px;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0.001);
  }
  

  #artist-info, #artist-concerts, span{
      color: #cd0033;
      text-align: center;
      font-size: 2rem;
  }  

  #artist-info, #artist-concerts{
      background-color:
      #d2d2d2;
      }

.ticket{
    position: relative;
    left: -1px;
    width: 250px;
    
}



@media only screen and (min-device-width:280px) and (max-device-width:1280px){
  .modal{
     width: auto !important;
     height: 70% !important;
   }
  .left-text, .right-text{
    font-size: 20px !important;
  }
 }

